<div class="text-center">
	<h1>Reddit Scraper</h1>
	<button id="scrapeBtn" class="text-center btn btn-danger"><a href="/scrape">Scrape For New Articles!</a></button>
</div>
<div id="articles"></div>
<div id="notes"></div>
