<div class="text-center">
	<h1>Reddit Scraper</h1>
	<button id="scrapeBtn" class="text-center btn btn-danger"><a href="/scrape">Scrape For New Articles!</a></button>
</div>
<div class="row">
	<div id="articles" class="col-md-offset-2 col-md-4"></div>
	<div id="notes" class="col-md-2"></div>
	<div id="comments" class="col-md-2">
		
	</div>
</div>